.grid.grid-cols-2.place-content-center.text-center
  %div.m-40
    %h1.text-5xl.font-bold.text-blue-600
      facebook
    %p.text-2xl.w-96
      Connect with friends and the world around you on Facebook.
  .border-2.rounded-md.w-96.mt-40.shadow-md.bg-white-100
    = form_for(resource, as: resource_name, url: new_user_registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"
      .field
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "Password #{@minimum_password_length} characters minimum"
      .field
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation"
      .actions.bg-blue-600.text-white.rounded-md.text-xl.px-2.w-90.m-5
        = f.submit "Sign up"
    = link_to new_session_path(resource_name) do
      .text-blue-500.hover:underline.m-5
        Already have a user?
    = link_to user_facebook_omniauth_authorize_path, method: :post do
      .text-blue-500.hover:underline
        Sign in with Facebook