.grid.text-center
  %h1.items-center.text-center.place-self-center
    = image_tag @user.gravatar_url(default: 'monsterid'), class: "gravatar rounded-full w-100"
  .d-flex.flex-column
    - if @user.profile
      = render "profiles/info", user: @user
    - else
      = render "profiles/empty"
  %p 
  - if @user == current_user
    - if current_user.profile
      = button_to "Edit profile", edit_profile_path(current_user), method: "get", class: "bg-blue-500 text-white rounded-md shadow-md w-28"
    - elsif @user.profile.nil?
      = button_to "Add profile info", new_profile_path(@user), method: "get", class: "bg-green-600 text-white rounded-md shadow-md w-32" 

  - if current_user.following?(@user) && current_user != @user
    = button_to unfollow_path(@user) do
      .bg-red-500.rounded-md.shadow-md.text-white.px-4.hover:opacity-50
        Unfollow
  - elsif current_user.sent_follow_request_to?(@user)
    = button_to cancel_path(@user) do
      .bg-blue-500.rounded-md.shadow-md.text-white.px-4.hover:opacity-50
        Cancel friend request
  - elsif current_user != @user
    = button_to follow_path(@user) do
      .bg-green-500.rounded-md.shadow-md.text-white.px-4.hover:opacity-50.mb-5
        Send friend request
  %br 
  - if current_user == @user
    = form_with model: Post.new, url: posts_path do |f| 

      = f.text_field :title, placeholder: "What's on your mind?", class: "rounded-md bg-white border-none shadow-md mr-5"

      = button_tag(type: "submit") do
        .px-3.py.bg-blue-500.text-white.rounded-md.hover:opacity-50.cursor-pointer.shadow-lg
          Post
  %hr.m-5
  %h2.text-2xl.font-bold Friends:
  %div.flex.items-center.m-5
    - current_user.followers.each do |user|
      = link_to user.email, user_path(user)
      .bg-red-500.rounded-md.shadow-md.text-white.px-4.hover:opacity-50.m-5.cursor-pointer
        \#{button_to "Unfriend", unfollow_path(user)}
  %hr.m-5
  %h1.text-2xl All posts
  - current_user.posts.each do |post| 
    %p.bg-white.m-2.rounded-md.shadow-md.py-2
      = link_to post.title, post
    %p 
    - like = post.find_like(current_user)
    - if post.liked_by?(current_user)
      = button_to post_like_path(like, post, like: {post_id: post.id }), method: :delete do
        .bg-blue-500.rounded-md.shadow-md.text-white.hover:opacity-50.cursor-pointer.w-32.ml-5
          Liked
    - else 
      = button_to post_likes_path(post, like: {post_id: post.id }), method: :post do
        .bg-white.text-blue-600.rounded-md.shadow-md.cursor-pointer.w-32.ml-5.hover:bg-blue-500.hover:text-white
          Like